
.container {
    max-width: 1064px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.topic {
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #6B3CC9;
    margin-bottom: 10px;
}
  
.image {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.image1 {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}
  
.paragraph {
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
}

.button {
    padding: 10px 20px;
    background-color: #F28D35;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.Content1{
    position: relative;
    top:100px;
}
  
.Content2{
    position: relative;
    top:100px;
}

@media (max-width: 768px){
    .Content1{
        position: relative;
        top:400px;
    }
      
    .Content2{
        position: relative;
        top:400px;
    }
}

@media (max-width: 375px){
    .Content1{
        position: relative;
        top:300px;
    }
      
    .Content2{
        position: relative;
        top:300px;
    }

    .content {
        text-align: center; 
    }
}