* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

nav{
    width: 1920px;
    height: 77px;
    background-color: #6B3CC9;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 60px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
}

nav a:hover {
    color: black;
}

nav li:first-child {
    margin-right: auto;
    margin-top: 15px;
    margin-left: 40px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 375px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar.visible {
    display: flex;
}

.sidebar a {
    color: black;
    margin-top: -50px;
}

.sidebar li:first-child {
    margin-top: 0px;
    margin-left: 300px;
    position: relative;
    top:50px;
}

nav li:last-child {
    display: none;
}


@media (max-width: 1440px){
    
    nav{
        width: 1440px;
    }
}

@media (max-width: 1200px){
    
    nav{
        width: 1200px;
    }
}

@media (max-width: 768px){
    
    nav{
        width: 768px;
    }

    .Logo {
        width: 150px;
        height: 35px;
    }

    nav a {
        font-size: 12px;
    }
}

@media (max-width: 375px){
    
    nav{
        width: 375px;
    }

    .navbar li {
        display: none;
    }

    nav li:first-child {
        display: flex;
    }

    nav li:last-child {
        display: flex;
    }
    
    .MenuIcon{
        width: 100px;
        height: 100px;
    }
}